/* SVN.committedRevision=396317 */
.popGeneral {
	display: block;
	position: fixed;
	_position: absolute;
	left: 50%;
	bottom: -100%;
	background-color: #fff;
	border: 0 solid #cdcdcd;
	z-index: 10000;
	float: left;
}

.popGeneral .top_tcgeneral {
	padding: 5px 10px;
	padding-bottom: 3px\0;
	background-color: #900;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
}

.popGeneral .top_tcgeneral h4 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
}

.top_tcgeneral .close_tcg {
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 6px;
	padding-right: 14px;
	background: url(../images/yhdLib.gif) no-repeat 100% 2px;
	background-position-y: -1px\0; *
	background-position-y: -1px;
	_background-position-y: 1px;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
	_zoom: 1;
}