.account_main{padding:0 0 0 149px; background:#f4f4f4;}
.account_main .main_nav{position:absolute; top:0; left:0; width:149px; border-right:none; border-radius:2px 0 0 2px;}
.account_main .main_nav li{display:block; position:relative; border-top:1px solid #fff; border-bottom:1px solid #cfcfcf;}
.account_main .main_nav li.li_lv_1{height:auto !important; height:40px; min-height:40px;}
.account_main .main_nav li:first-child{border-top:none;}
.account_main .main_nav li:first-child a{border-radius:2px 0 0 0;}
.account_main .main_nav li a{display:block; height:40px; line-height:40px; padding-left:20px; font-size:14px; background:#f4f4f4;}
.account_main .main_nav li a:hover{text-decoration:none;}
.account_main .main_nav li.cur,
.account_main .main_nav li.cur_v{border-top:none; *margin-bottom:-3px;}
.account_main .main_nav li.cur a,
.account_main .main_nav li.cur_v a{position:absolute; top:-1px; left:-1px; width:130px; border:1px solid #999; border-right:none; color:#333; font-weight:bold; background:#fff url(../images/common_v2/bg_account_nav.png) no-repeat 0 0px; zoom:1;}
.account_main .main_nav li.cur_v a{background-position:0 -40px;}
.account_main .main_nav .ul_lv_2{padding-top:42px; background:#fff; margin-bottom:-1px;}
.account_main .main_nav .ul_lv_2 .li_lv_2{height:30px; background:none; zoom:1;}
.account_main .main_nav .ul_lv_2 li.li_lv_2 a{width:119px; _width:118px; height:30px; line-height:30px; padding-left:31px; background:none; font-size:12px; border-radius:0; border:none; font-weight:500; top:0; left:0;}
.account_main .main_nav .ul_lv_2 li.li_lv_2 a:hover{color:#f60;}
.account_main .main_nav .ul_lv_2 li.cur a{_width:119px; font-weight:700; background:#efefef url(../images/common_v2/bg_account_nav.png) no-repeat 0 -80px;}
.account_main .main_cont{min-height:500px; _height:expression(this.scrollHeight<500?"500px":"auto"); padding:0 20px 20px; border-left:1px solid #cfcfcf; border-radius:0 2px 2px 2px; background:#fff;}
.account_main .main_cont .form a{color:#f60;}

.filter{position:relative; width:798px; margin-left:-20px; margin-right:-20px; margin-bottom:60px; zoom:1;}
.filter_list_wrap{position:relative; border-bottom:1px solid #cfcfcf; background:url(../images/common_v2/repeat_bottom.png) repeat-x left bottom; overflow:hidden; zoom:1;}
.filter_list{display:block; position:relative; padding:0 20px; zoom:1; font-size:14px;}
.filter li{display:block; position:relative; line-height:24px; padding:10px 0 10px 80px; margin-top:-1px; border-top:1px solid #e6e6e6; zoom:1;}
.filter dl{display:block;}
.filter dt,
.filter dd,
.filter dd a{display:inline-block; *display:inline; zoom:1;}
.filter dt{position:absolute; top:10px; left:0; width:70px; text-align:right; color:#666;}
.filter dd span{padding:0 8px;}
.filter dd.cur a{padding:0 8px; background:#f90; border-radius:2px; font-weight:bold; color:#fff;}
.filter .btn_slide{bottom:-19px; left:344px;}

.mimicard{padding-bottom:40px;}
.mimicard_list{display:block; padding:0 19px; background:url(../images/common_v2/bg_mimicard.png) repeat-y center top;}
.mimicard_list li{display:block; float:left; width:180px; height:210px; margin-bottom:20px; text-align:center; overflow:hidden; zoom:1;}
.mimicard_list li .mimicard_img{height:160px; margin-bottom:20px;}
.mimicard_list li .mimicard_img img{
	-webkit-transition: -webkit-transform .5s ease-in;
    -moz-transition:    -moz-transform .5s ease-in;
    -o-transition:      -o-transform .5s ease-in;
    transition:         transform .5s ease-in;
}
.mimicard_list li:hover .mimicard_img img{
	-webkit-transform: rotateY(360deg) translate(0,-6px);
	-moz-transform: rotateY(360deg) translate(0,-6px);
	-o-transform: rotateY(360deg) translate(0,-6px);
	transform: rotateY(360deg) translate(0,-6px);
}
.mimicard_list li h5{line-height:30px; font-size:14px; color:#666;}
.mimicard .ui_page{padding:20px 0;}

.mimicard_inquire{margin-bottom:20px;}
.mimicard_inquire .map{float:left; width:420px; margin-right:20px;}
.mimicard_inquire .outlets{float: left; width:300px;}
.mimicard_inquire .h1{display:block; text-align:center; margin-bottom:10px;}
.mimicard_inquire a{color:#f60;}
.mimicard_inquire p{margin-bottom:10px;}
.mimicard_inquire .form{margin:60px 0 0 0;}
.mimicard_inquire .form li{padding-left:40px;}
.mimicard_inquire .form li .lbl{width:42px;}
.ui_table_wrap .ui_page{padding:20px 0;}

.problem_list{font-size:14px;}
.problem_list li{position:relative; display:block; height:40px; border-bottom:1px solid #ebebeb; overflow:hidden; zoom:1;}
.problem_list li:last-child{border-bottom:none;}
.problem_list .problem_title{display:block; margin-bottom:6px; white-space:nowrap;}
.problem_title h3{display:inline-block; *display:inline; zoom:1; line-height:40px; font-weight:normal; color:#666; vertical-align:middle; cursor:pointer;}
.problem_list .ico_problem_list{display:inline-block; *display:inline; zoom:1; width:16px; height:16px; margin-right:4px; background:url(../images/common_v2/sprite_global.png) no-repeat -338px -74px; overflow:hidden; vertical-align:middle;}
.problem_list a:hover .ico_problem_list{background-position:-354px -74px;}
.problem_list a:hover h3{color:#f60;}
.problem_list .cur h3{font-weight:bold; color:#f60;}
.problem_list .cur .ico_problem_list{background-position:-370px -74px;}
.problem_list .cur a:hover .ico_problem_list{background-position:-386px -74px;}
.problem_list .cur{height:auto; border-bottom:none;}
.problem_answer{position:relative; padding:20px; background:#f6f6f6; border-bottom:1px solid #cfcfcf; zoom:1;}
.problem_list .btn_slide{width:60px; bottom:0; right:0; background:none; font-size:12px;}

.search_data{margin-bottom:20px; _padding-bottom:2px;}

.account_result{padding:120px 0 0 180px;}
.account_result .h1{position:relative; zoom:1; margin-bottom:40px;}
.account_result .h1 .ico{position:absolute; top:5px; left:-50px;}
.account_result .result_tips{margin-bottom:40px;}
.account_result .result_btns .ui_btn_large_em{margin-right:30px;}
