/*btn-*/
.btn-7,.btn-7 s{background:url(i/buttons.gif) no-repeat}
.btn-7{display:inline-block;*zoom:1;text-align:center; font-weight:bold;}
.btn-7 s{float:left;width:3px;margin-right:12px;height:25px;background-position:0 -367px;}
.btn-7{background-position:right -393px;line-height:25px;padding-right:15px}
/*btn*/
.btn-11,.btn-11 s{background:url(i/buttons.gif) 0 -599px no-repeat}
.btn-11 s{float:left;width:3px;margin-right:12px;height:25px;}
.btn-11{background-position:right -625px;line-height:25px;display:inline-block;*zoom:1;text-align:center;padding-right:15px}
a.btn-11:visited,a.btn-11:hover{color:#ccc;font-weight:bold}
a.btn-11:link,a.btn-11:active{color:#ccc;font-weight:bold}
aa.btn-11:link,aa.btn-11:visited,aa.btn-11:active{color:#005AA0;}
aa.btn-11:hover{color:#005AA0}
.btn-search{background:url(i/btn-search.gif);width:50px;height:21px;border:none;margin-top:5px}/*a*/
a.yahei:link,a.yahei:visited,a.yahei:hover,a.yahei:active{font-size:24px; color:#005a9d; text-decoration:underline; font-family:"Î¢ÈíÑÅºÚ";}
.yahei{font-size:24px; color:#009900; font-family:"Î¢ÈíÑÅºÚ";}
.fl-3 span{line-height:24px;}
#forget .but{background:url(i/but.gif) no-repeat; width:113px; height:30px; font-size:12px; font-weight:bold; color:#fff; border:none; padding-bottom:5px;}
/*form*/
.form label,.form input,.form select,.form textarea,.form button,.form .label{float:left;font-size:12px;}
.form .item{overflow:hidden;zoom:1;}
.i-m{overflow:hidden;}
.m1{border:1px solid #ffccaa;background:#fffcf1;}
#forget .mt{height:33px;background:url(i/tit_regist.jpg) #D1D1D1 repeat-x 0 -34px;}
#forget .mt h2{float:left;height:33px;padding-left:15px;background:url(i/tit_regist.jpg) no-repeat 0 0;line-height:33px;}
#forget .mt span{float:right;height:33px;line-height:33px;text-align:right;}
#forget .mt b{float:right;width:10px;height:33px;background:url(i/tit_regist.jpg) no-repeat 0 -68px;}
#forget .mc{padding:20px 20px 15px;border:solid #D1D1D1;border-width:0 1px 1px;}
#forget .item{ margin-bottom:15px;}
#forget .item a:link,#forget .item a:visited{text-decoration:underline;}
#forget .label{width:320px;text-align:right;font-size:14px;}
#forget .label b{color:#ff0000;}
#forget .text{width:240px;height:16px;padding:4px 3px;border:1px solid #bbb;font-size:14px;font-family:arial,"ËÎÌå";}
#forget .text1{width:100px;}
#forget .blank{width:16px;height:16px;margin:2px 5px 0;}
#forget .null{color:red;line-height:22px;*line-height:20px;}
#forget .null-1{color:#999;line-height:22px;*line-height:20px;}
.ftx13, .flk13 a:link, .flk13 a:visited, a.flk13:link, a.flk13:visited{color:#005AA0;}
#forget .item a:link, #forget .item a:visited{text-decoration:none;}
#forget .ftx23{color:#999;}
#forget .btn-img {border: 0 none;cursor: pointer;margin: 0;overflow: hidden;padding: 0;text-align: center;}
#forget h3{border-bottom:1px solid #ccc; padding-bottom:5px;background:url(i/pass-s.jpg) no-repeat; text-indent:20px; margin-bottom:30px; font-size:12px; font-weight:normal;}
#forget h3 a:link, #forget h3 a:visited{color:#005AA0;}
#forget h3 span{color:#ff6600;}
#forget .ftx-1{font-size:14px; font-weight:bold; font-family:"Î¢ÈíÑÅºÚ"}
#forget .success-1{overflow:hidden; margin-bottom:12px;}
#forget .success-1 i{float:left;background:url(i/icon.gif) no-repeat;width:48px;height:40px;margin-left:95px;margin-right:20px;line-height:30px;}
.succeed{padding:10px 20px; margin-bottom:0px;}
.succeed i{float:left;background:url(i/icon.gif) no-repeat;width:48px;height:40px;margin-left:95px;margin-right:20px;line-height:30px;}
.succeed .ftx-02{font-weight:bold;font-size:14px; color:#009900;}
.succeed strong{color:#ff6600}
.mail{
	background:url(i/icon.gif) 0 -52px;
	width:300px;
	height:62px;
	float:left;
	margin:20px 10px 0 0;
}
.tel{background:url(i/icon.gif) 0 -128px; width:80px; height:62px;float:left;margin:18px 10px 0 0;}
/*#m-left*/
#m-left{
	width:800px;
	float:left;
}
/*#m-right*/
#m-right{width:420px; float:right;}
#m-left .fl-1,#m-right .fl-1{height:90px; border-left:1px dashed #ccc; padding:10px;; float:left}
/*look-main*/
#look-mail .fl-1,#look-tel .fl-1{height:90px; border-left:1px dashed #ccc; padding:30px 10px 0; float:left}
#m-left .fl-2,#m-right .fl-2{padding:15px 10px 10px;; float:left}
#forget .label-1{width:70px;text-align:right;font-size:14px; float:left}
#look-tel .fl-2{height:110px; border-left:1px dashed #ccc; padding:0px 10px 0; float:left}
.text-none {background:#F7F7F8; border-color: #CCC #EDEDED #EDEDED #CCC; border-style: solid; border-width: 1px;color: #CCC;}
.o-mt{margin:10px 20px 0; border-bottom:1px solid #ffe9ce; padding:10px 20px 10px; background:url(i/pass-s.jpg) no-repeat 2px 15px; line-height:24px;}
