@charset "gb2312";
.right a:link,.right a:visited{color:#005ea7;}
.m .mt .extra a:link, .m .mt .extra a:visited{color:#333}
.crumb span{color:#999999;}
.main .mt .extra{float:right}
.ftx-01,a.flk-01:link,a.flk-01:visited,.flk-01 a:link,.flk-01 a:visited{color:#cc0000;}.ftx-02{color:#009900;}.ftx-03,a.flk-03:link,a.flk-03:visited,.flk-03 a:link,.flk-03 a:visited{color:#999999;}.ftx-04{color:#ff6600;}.ftx-05,a.flk-05:link,a.flk-05:visited,.flk-05 a:link,.flk-05 a:visited{color:#005ea7;}.ftx-06{color:#666666;}.f-normal{font-weight:normal;}
.main{margin-bottom:10px;}.loading{color:#999999;}
.left{float:left;width:150px;margin-right:10px}
.main .p-name{height:3em;overflow:hidden}
#myjd .mt{height:32px;padding:0 6px;background:url(i/index.png) #9E0000 no-repeat 0 0;line-height:32px;color:#fff;}
#myjd .mt h2{float:left;background:none;padding-top:0;height:auto;line-height:32px}
#myjd .mt a{color:#fff;}
#myjd .mt .extra{cursor:pointer;color:#ffcccc;float:right}
#myjd .mc{border:solid #E6E6E6;border-width:0 1px 1px;overflow:hidden;}
#myjd dl dt{position:relative;margin-bottom:-1px;height:27px;padding:0 12px;border:solid #E6E6E6;border-width:1px 0;background:url(i/bg_jdleft.jpg) #E6E6E6 repeat-x 0 -30px;font-weight:bold;line-height:27px;cursor:pointer;}
#myjd dl dt b{display:block;position:absolute;top:0;right:5px;width:19px;height:27px;background:url(i/bg_jdleft.jpg) no-repeat 0 -150px;}
#myjd dl dt:hover{background-position:0 0;}
#myjd dl dt:hover b{background-position:0 -90px;}
#myjd dl.close dt b{background-position:0 -120px;}
#myjd dl.close dt:hover b{background-position:0 -60px;}
#myjd dl.close dd{display:none;}
#myjd dd{padding:4px 0 5px;}
#myjd dd .item{padding:2px 0 2px 24px;}
#myjd dd .curr{font-weight:bold;}
#menu-userdefined{position:absolute;z-index:1;width:530px;border:4px solid #E5E5E5;border-radius:3px;-moz-border-radius:3px;-moz-box-shadow:0 0 3px #EFEFEF;-webkit-border-radius:3px;-webkit-box-shadow:0 0 3px #EFEFEF;zoom:1;}
#menu-userdefined .widget{position:relative;z-index:3;border:1px solid #FFE6BC;padding:8px;background:#FFFDEE;zoom:1;}
#menu-userdefined .hack-iframe{position:absolute;top:0;left:0;z-index:2;width:410px;}
#menu-userdefined .close{position:absolute;top:4px;right:4px;z-index:3;width:19px;height:19px;background:url(i/icon.gif) -81px -41px;cursor:pointer;}
#menu-userdefined .i-widget{position:relative;padding:10px;background:#fff;border:1px solid #FFE6BC;}
#menu-userdefined .widget-t{padding-bottom:6px;margin-bottom:10px;border-bottom:1px solid #E6E6E6;}
#menu-userdefined .widget-t h3{float:left;}
#menu-userdefined .widget-t .extra{float:right;padding-right:20px;}
#menu-userdefined .prompt{height:26px;line-height:26px;margin-bottom:10px;background:#F5F5F5;border:1px solid #D7D8DA;color:#666;text-align:left;padding-left:5px}
#menu-userdefined .prompt a{color:#005aa0;text-decoration:underline;}
#menu-userdefined .btns{padding-top:5px;margin-top:5px;border-top:1px solid #E6E6E6;line-height:27px}
#menu-userdefined .btns a{color:#005aa0;}
#menu-userdefined .btns .button{margin-right:10px;border:none;background:url(i/use.gif) 0 -67px;height:25px;width:60px}
#menu-userdefined dl{float:left;width:120px;}
#menu-userdefined dt{padding:0 0 5px 3px;font-weight:bold;}
#menu-userdefined .item{padding:2px 0;overflow:hidden;zoom:1;}
#menu-userdefined .checked{font-weight:bold;color:#C00;}
.corner{position:absolute;}.corner b{position:absolute;left:0;}.corner .b1{z-index:1;}.corner .b2{z-index:2;}
*html .corner b{overflow:hidden;height:0;line-height:0;font-size:0}
*+html .corner b{overflow:hidden;height:0;line-height:0;font-size:0}
#menu-userdefined .corner-left{left:-20px;top:10px;}
#menu-userdefined .corner-left b{border-width:10px;}
#menu-userdefined .corner-left .b1{left:0;border-style:dashed solid dashed dashed;border-color:transparent #FFE6BC transparent transparent;}
#menu-userdefined .corner-left .b2{left:1px;border-style:dashed solid dashed dashed;border-color:transparent #FFFDEE transparent transparent;}
.right{width:830px;float:right;font-family:Verdana}.middle{width:610px;float:left}.right-extra{width:210px;float:right;}
.search-01 .item .text{width:225px;}
.search-01 .bti{background:url(i/use.gif) 0 -42px;width:50px;height:25px;margin-top:-1px}
.search-02 .text{width:275px;color:#999999}
.m5 .search-01 .item{padding:10px 15px;zoom:1;}
.bti{border:none}.btn{display:inline-block;*zoom:1;padding-right:13px;}.btn s{float:left;width:3px;margin-right:10px;}
.btn,.btn s{background:url(i/btn.png) no-repeat;}
.btn-1,.btn-5,.btn-9,.btn-13{line-height:36px;}
.btn-2,.btn-6,.btn-10,.btn-14{line-height:30px;}
.btn-3,.btn-7,.btn-11,.btn-15{line-height:25px;}
.btn-4,.btn-8,.btn-12,.btn-16{line-height:21px;}
.btn-1 s,.btn-5 s,.btn-9 s,.btn-13 s{height:36px;}
.btn-2 s,.btn-6 s,.btn-10 s,.btn-14 s{height:30px;}
.btn-3 s,.btn-7 s,.btn-11 s,.btn-15 s{height:25px;}
.btn-4 s,.btn-8 s,.btn-12 s,.btn-16 s{height:21px;}
.btn-1{background-position:right -36px;}.btn-2{background-position:right -104px;}.btn-2 s{background-position:0 -73px;}
.btn-3{background-position:right -161px;}.btn-3 s{background-position:0 -135px;}
.btn-4{background-position:right -209px;}.btn-4 s{background-position:0 -187px;}
.btn-5{background-position:right -268px;}.btn-5 s{background-position:0 -231px;}
.btn-6{background-position:right -336px;}.btn-6 s{background-position:0 -305px;}
.btn-7{background-position:right -393px;}.btn-7 s{background-position:0 -367px;}
.btn-8{background-position:right -441px;}.btn-8 s{background-position:0 -419px;}
.btn-9{background-position:right -500px;}.btn-9 s{background-position:0 -463px;}
.btn-10{background-position:right -568px;}.btn-10 s{background-position:0 -537px;}
.btn-11{background-position:right -625px;}.btn-11 s{background-position:0 -599px;}
.btn-12{background-position:right -673px;}.btn-12 s{background-position:0 -651px;}
.btn-1,.btn-5,.btn-6,.btn-13,.btn-14{font-weight:bold;padding-right:15px}
.btn-1 s,.btn-5 s,.btn-6 s,.btn-13 s,.btn-14 s{margin-right:12px}
a.btn-5:link,a.btn-6:link,a.btn-7:link,a.btn-8:link,a.btn-11:link,a.btn-12:link,a.btn-5:visited,a.btn-6:visited,a.btn-7:visited,a.btn-8:visited,a.btn-11:visited,a.btn-12:visited{color:#333333;}
a.btn-1:link,a.btn-1:visited,a.btn-2:link,a.btn-2:visited,a.btn-3:link,a.btn-3:visited,a.btn-4:link,a.btn-4:visited{color:#ffffff;}
a.btn-1,a.btn-5,a.btn-6,a.btn-10,.btn-13,.btn-14{font-size:14px;}
a.btn-8,a.btn-11,a.btn-12{color:#333333;}
a.btn-11:hover,a.btn-12:hover{color:#005AA0;}
.btn-13,.btn-14,.btn-15,.btn-16{color:#cccccc}
.btn-15,.btn-16{font-weight:normal}
.btn-13{background-position:right -731px;}
.btn-13 s{background-position:0 -695px;}
.btn-14{background-position:right -799px;}
.btn-14 s{background-position:0 -768px;}
.btn-15{background-position:right -856px;}
.btn-15 s{background-position:0 -830px;}
.btn-16{background-position:right -904px;}
.btn-16 s{background-position:0 -832px;}
.right .o-mt{border:1px solid #e6e6e6;border-bottom:2px solid #c30000;height:33px;line-height:33px;margin-bottom:10px;}
.right .o-mt h2{color:#cc0000;padding-left:16px;float:left;}
.m1{border:1px solid #e6e6e6;margin-top:-1px;z-index:-1;}
.m1 .mt{background:url(i/tb-th.2011.gif) 0 -31px repeat-x;height:34px;line-height:34px;padding-left:16px;border-bottom:1px solid #e6e6e6;}
.m1 .mt h3{float:left;}
.m2 .mt{border:1px solid #E6E6E6;background:#F9F9F9;height:28px;line-height:28px;padding-left:10px;padding-right:10px}
.m2 .mt h3{float:left;font-size:12px}
.m3{border:1px solid #EDD28B;background:#FFFDEE;}
.m4{border:1px solid #e6e6e6;}
.m4 .mt{border-bottom:1px solid #e6e6e6;height:34px;line-height:34px;padding-left:16px;}
.m4 .mt h3{float:left;color:#666666;}
.m5 .mt h3{float:left;}
.m5 .mt .extra{color:#666666;}
.m5 .mc{border:1px solid #e6e6e6;border-top:none;}
.m6{border:1px solid #db9a9a;background:#ffe8e8;color:#cc0000}
.m7{position:relative;overflow:visible;top:10px;margin-bottom:20px}
.m7 .mt{position:absolute;left:12px;top:-12px}
.m7 .mt h3{color:#666666;background:#ffffff;line-height:25px;padding:0 8px;font-size:12px}
.m7 .mc{border:1px solid #e6e6e6;padding:20px}
.m8{border:1px solid #D7D8DA;background:#F5F5F5;color:#666666}
.step{overflow:hidden;background:#ededed;color:#999999;font-weight:bold;margin:0 auto 10px;zoom:1}/*m*/
.step li{float:left;position:relative;padding-left:22px;padding-right:35px;line-height:25px;height:25px;overflow:hidden;}
.step li b{position:absolute;width:22px;height:25px;background:url(i/flow.gif) no-repeat;top:0;right:-1px;}
#step1 .fore1,#step2 .fore2,#step3 .fore3,#step4 .fore4{background:#ffe6bc;color:#ff6600;}
#step1 .fore1 b,#step2 .fore2 b,#step3 .fore3 b{background-position:0 -26px;}
#step2 .fore1,#step3 .fore1,#step3 .fore2,#step4 .fore1,#step4 .fore2,#step4 .fore3{background:#bbbbbb;color:#ffffff;}
#step2 .fore1 b,#step3 .fore2 b,#step4 .fore3 b{background-position:0 -78px;}
#step3 .fore1 b,#step4 .fore2 b,#step4 .fore1 b{background-position:0 -52px;}
.form em{color:#ff6600;margin-right:3px;}
.form .text,.form .area,.sele{padding:4px;border:1px solid;border-color:#aaa #ddd #ddd #aaa;}
.form .text{width:130px;margin-right:5px;}.form .area{width:300px;height:55px;margin-right:5px;}
.text-focus{border-width:2px;border-color:#ffd300;}
.text-error{border-color:#cc0000;}
.text-none{border:1px solid;border-color:#ccc #ededed #ededed #ccc;background:#f7f7f8;color:#ccc;}
.sele{margin-right:10px;}
.right .form .item{margin-bottom:20px;}
.right .form .label{color:#666666;text-align:right;}
.right .form .label,.right .form label{line-height:25px;margin-right:8px;}
.right .form .point{color:#999999;padding-top:3px;}
.right .form .check,.right .form .radio{margin-top:3px;}
.right .check,.right .radio{margin-top:5px;float:left;}
.right .radio{margin-top:5px;float:left;}
.msg-text,.msg-error,.msg-text-01,.msg-error-01{float:left}
.msg-text{color:#666666;line-height:25px;}
.msg-text-01{border:1px solid #D8D8D8;background:#F5F5F5;color:#666666;padding:2px 6px;}
*html .msg-text-01{padding:1px 6px}
.msg-error{color:#cc0000;line-height:25px;}
.msg-error-01{border:1px solid #db9a9a;background:#ffe8e8;color:#cc0000;float:left;padding:2px 6px;}
*html .msg-error-01{padding:1px 6px;}
.tab{padding-left:5px;border-bottom:2px solid #ffccaa;z-index:2;}
.tab li{float:left;background:url(i/tab.gif) 0 -28px;line-height:29px;margin-right:3px;text-align:center;height:27px;padding:0 10px;position:relative;overflow:hidden;}
.tab li s,.tab li b{width:3px;height:27px;background:url(i/tab.gif);position:absolute;top:0;}
.tab li s{left:0;}.tab li b{right:0;background-position:-7px 0;}.tab li.curr{background-position:0 -85px;}.tab li.curr s{background-position:0 -57px;}
.tab li.curr b{background-position:-7px -57px;}
.tab li.curr,.tab li.curr a:link,.tab li.curr a:visited{color:#ff6600;font-weight:bold;}
.tab li a:link,.tab li a:visited{color:#333333;}
.tb-void{overflow:hidden;margin-right:-1px;margin-left:-1px;margin-bottom:-1px}
.tb-line{border-top:1px solid #E6E6E6}
.tb-void table{border-collapse:collapse;border:solid #E6E6E6;border-width:0 1px 1px 1px;} 
.tb-void th{background:#f7f7f7 url(i/tb-th.2011.gif) repeat-x;height:31px;color:#666666;font-weight:normal;}
.tb-void td{border:solid #E6E6E6;border-width:1px 0 0 1px;padding:5px 4px;text-align:center}
.tb-void-01 th{background-image:none;}
.tb-rows th,.tb-rows td{text-align:left;padding-left:10px;}
.tb-rows td{border-left-width:0;}
.tb-none th,.tb-none td{height:30px;}
/*.jdprice{text-align:right;color:#cc0000}2012.6.13’Àªß”‡∂Ó*/
.jdprice01{text-align:right;}
.prompt-01{position:relative;border:1px solid #EDD28B;background:#FFFDEE;-webkit-box-shadow: 0 0 0 3px rgba(0,0,0,0.15);-moz-box-shadow: 0 0 0 3px rgba(0,0,0,0.15);box-shadow: 0 0 0 3px rgba(0,0,0,0.15);zoom:1;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;}
.prompt-01 .close{float:right;cursor:pointer;color:#ff6600;}
.pb{position:absolute;}
.pb b{position:absolute;left:0;font-size:0;line-height:0;overflow:hidden;border:10px dashed transparent;}.pb .b1{z-index:1;}.pb .b2{z-index:2;}
.pb b.b3{border-width:12px;z-index:0;display:none\9;}
*|html[xmlns*=""] .pb b.b3 {display:none;} 
.pb-t{top:-19px;left:10px;}
.pb-t b{border-bottom-style:solid;}.pb-t .b1{top:-1px;border-bottom-color:#EDD28B;}.pb-t .b2{top:0;border-bottom-color:#FFFDEE;}.pb-t .b3{top:-9px;left:-2px;border-bottom-color:rgba(0,0,0,0.15);}
.pb-r{right:0px;top:19px;}*html .pb-r{right:-1px;}.pb-r b{border-left-style:solid;}.pb-r .b1{right:-11px;top:-1px;border-left-color:#EDD28B;border-width:11px;}.pb-r .b2{right:-11px;border-left-color:#FFFDEE;}.pb-r .b3{top:-2px;left:4px;border-left-color:rgba(0,0,0,0.15);}
.pb-b{left:10px;bottom:-9px;}.pb-b b{border-top-style:solid;}.pb-b .b1{bottom:-12px;border-top-color:#EDD28B;}.pb-b .b2{bottom:-11px;border-top-color:#FFFDEE;}.pb-b .b3{bottom:-19px;left:-2px;border-top-color:rgba(0,0,0,0.15);}
.pb-l{left:-20px;top:20px;}.pb-l b{border-right-style:solid;}.pb-l .b1{left:-1px;top:-9px;border-right-color:#EDD28B;}.pb-l .b2{bottom:-11px;border-right-color:#FFFDEE;}.pb-l .b3{top:-11px;left:-8px;border-right-color:rgba(0,0,0,0.15);}
.prompt-02{background:#ffe8e8;border:1px solid #F34956;color:#cc0000;padding:2px 2px 1px;}
.prompt-03{border:1px solid #edd28b;background:#FFFDEE;text-align:center;padding:10px;margin-bottom:10px;}
.prompt-04{position:relative;border:1px solid #e6e6e6;padding:20px 20px 20px;}
.prompt-04 .pt{position:absolute;color:#666666;left:12px;top:-10px;}
.prompt-04 .pt h5{background:#ffffff;padding:0 5px;}
.pagin a:hover, .pagin a:active {background:#005AA0;color: #FFFFFF;text-decoration: none;}
#float-bar{position:fixed;width:23px;padding-bottom:10px;overflow:hidden;margin-left:10px}
#float-bar div,#float-bar a{width:23px;padding-top:24px;background-image:url(http://misc.360buyimg.com/201007/skin/df/i/bg_pannel.jpg);background-repeat:no-repeat;text-align:center;line-height:13px;}
#float-bar a{display:block;width:22px;padding:2px 1px 8px 0;background-position:0 bottom;text-decoration:none;color:#f60;}
#float-bar .vote{background-position:0 -0;margin-bottom:5px;}
#float-bar .return{background-position:-23px 0;padding-top:20px;}
*html #float-bar{position:absolute;}
#da-home img {height: auto;width: 150px;}
.main .list-h{overflow:hidden;zoom:1}
.main .list-h li{float:left}
.msafe{margin-top:-10px;line-height:0;}.msafe .mc{padding:15px;line-height:normal}
body:nth-of-type(1) .msafe{min-height:1px;background:#fff;overflow:auto;}
.msafe li,.msafe .ir{margin-right:8px}
.ir{background:url(i/icon-rank.png) no-repeat;width:126px;height:17px;font-size:0;line-height:0;overflow:hidden;display:inline-block;*zoom:1; vertical-align:middle;margin-right:10px} 
.icon-s-01{background-position:0 -17px}
.icon-s-02{background-position:0 -33px}
.icon-s-03{background-position:0 -49px}
.acco-safe s,.account .fl s{display:inline-block;*zoom:1;margin-right:3px;width:16px;height:16px; vertical-align:middle;line-height:100px;font-size:0;overflow:hidden;background:url(i/icon-veri.png) no-repeat}
.acco-safe a{margin-right:8px}
.acco-safe .teln s{background-position:0 -17px}
.acco-safe .mail s{background-position:-17px 0}
.acco-safe .mailn s{background-position:-17px -17px}
.acco-safe .spsd s{background-position:-34px 0}
.acco-safe .spsdn s{background-position:-34px -17px}
/*icon*/
.icon-succ02,.icon-ques05,.icon-info05,.icon-info03,.icon-succ05,.icon-warn02{display:inline-block;*zoom:1;font-size:0;line-height:0;overflow:hidden;background:url(http://misc.360buyimg.com/purchase/skin/df/i/pur-icon.png) no-repeat;vertical-align:middle}
.icon-warn03{display:inline-block;*zoom:1;font-size:0;line-height:0;overflow:hidden;background:url(i/icon-msg.png);width:32px;height:32px;vertical-align:middle}
.icon-succ02{background-position:0 -230px;width:48px;height:48px}
.icon-succ05{background-position:-49px -235px;width:16px;height:16px}
.icon-warn02{background-position:-90px 0;width:48px;height:48px}
.icon-info03{background-position:-42px 0;width:32px;height:32px}
.icon-info05{background-position:-74px 0;width:16px;height:16px;}
.icon-ques05{background-position:0 -280px;width:16px;height:16px;}