HTML {
	FONT: 12px tahoma, arial, ����
}
BODY {
	FONT: 12px tahoma, arial, ����
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: none
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; VERTICAL-ALIGN: top; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
INPUT {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
BUTTON {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
OL {
	LIST-STYLE: none none outside
}
UL {
	LIST-STYLE: none none outside
}
A {
	TEXT-DECORATION: none
}
A.link {
	TEXT-DECORATION: none
}
A.visited {
	TEXT-DECORATION: none
}
.hide {
	DISPLAY: none
}
.clear {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden; CONTENT: "."
}

.menuNav {
	Z-INDEX: 9999; POSITION: relative; WIDTH: 189px; FLOAT: left
}
.menuNav H2 {
	MARGIN-TOP: 4px; TEXT-INDENT: -9999px; BACKGROUND: url(../images/main_0410.gif) no-repeat 0px 0px; HEIGHT: 39px; CURSOR: pointer
}
.navlist {
	BORDER-BOTTOM: #e7a300 1px solid; POSITION: absolute; BORDER-LEFT: #e7a300 1px solid; WIDTH: 187px; BACKGROUND: url(../images/main_0410.gif) #fff9db no-repeat -190px -425px; HEIGHT: 430px; BORDER-TOP: 0px; TOP: 43px; BORDER-RIGHT: #e7a300 1px solid; LEFT: 0px
}
.navlist H4 {
	TEXT-ALIGN: right; LINE-HEIGHT: 34px; MARGIN: 3px auto 0px; WIDTH: 185px; BACKGROUND: #ffdf6d; HEIGHT: 34px; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.navlist H4 A {
	PADDING-RIGHT: 12px; FONT-FAMILY: "����"; COLOR: #873c00
}
.navlist H4 A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.navlist DL {
	POSITION: relative; LINE-HEIGHT: 37px; WIDTH: 188px; HEIGHT: 36px
}
.navlist DL DT {
	Z-INDEX: 2; POSITION: absolute; FONT-FAMILY: "����"; FONT-SIZE: 13px
}
.navlist DL DT A {
	TEXT-INDENT: 36px; WIDTH: 189px; DISPLAY: block; COLOR: #873c00
}
.navlist DL DT A.on {
	TEXT-INDENT: 36px; COLOR: #f60; FONT-WEIGHT: 700
}
.navlist DL DT .hot01 {
	POSITION: absolute; WIDTH: 26px; BACKGROUND: url(../images/main_0410.gif) no-repeat -975px 0px; HEIGHT: 13px; TOP: 8px; RIGHT: 20px
}
.navlist DL DT .hot02 {
	POSITION: absolute; WIDTH: 26px; BACKGROUND: url(../images/main_0410.gif) no-repeat -975px 0px; HEIGHT: 13px; TOP: 8px; RIGHT: 58px
}
.navlist DL DT.icon01 A {
	COLOR: #c00
}
.navlist DL DT.icon02 A {
	COLOR: #c00
}
.navlist DL DT.icon01 A.on {
	COLOR: #f60
}
.navlist DL DT.icon02 A.on {
	COLOR: #f60
}
.navlist DL DT.icon01 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -390px
}
.navlist DL DT.icon02 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -427px
}
.navlist DL DT.icon03 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -464px
}
.navlist DL DT.icon04 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -501px
}
.navlist DL DT.icon05 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -538px
}
.navlist DL DT.icon06 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -575px
}
.navlist DL DT.icon07 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -612px
}
.navlist DL DT.icon08 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -649px
}
.navlist DL DT.icon09 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -686px
}
.navlist DL DT.icon10 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -723px
}
.navlist DL DT.icon11 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -760px
}
.navlist DL DT.icon12 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -797px
}
.navlist DL DT.icon13 A.on {
	BACKGROUND: url(../images/main_0410.gif) no-repeat 0px -834px
}
.navlist DL DD {
	Z-INDEX: 1; BORDER-BOTTOM: #f7c900 1px solid; POSITION: absolute; BORDER-LEFT: #f7c900 1px solid; WIDTH: 539px; DISPLAY: none; BACKGROUND: #fffdf3; BORDER-TOP: #f7c900 1px solid; BORDER-RIGHT: #f7c900 1px solid; LEFT: 188px
}
.navlist DL DD .sideleft {
	WIDTH: 380px; FLOAT: left
}
.navlist DL DD .sideright {
	WIDTH: 116px; FLOAT: right
}
.sideleft {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; DISPLAY: inline; BACKGROUND: #fff; FLOAT: left; BORDER-RIGHT: #fbf1d8 1px solid; PADDING-TOP: 6px
}
.sideleft H3 {
	LINE-HEIGHT: 24px; WIDTH: 370px; HEIGHT: 24px; COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: 700
}
.sideleft LI {
	WIDTH: 370px; DISPLAY: inline; FLOAT: left; BORDER-TOP: #f6efe6 1px solid; MARGIN-RIGHT: 5px
}
.sideleft LI.noline {
	BORDER-TOP: medium none
}
.sideleft LI B {
	WIDTH: 75px; FLOAT: left
}
.sideleft LI DIV {
	WIDTH: 292px; MARGIN-BOTTOM: 10px; FLOAT: left
}
.sideleft LI DIV A {
	BORDER-LEFT: #d1d1d1 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; MARGIN: 11px 10px 0px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 14px; COLOR: #000; PADDING-TOP: 0px
}
.sideleft LI DIV A:visited {
	BORDER-LEFT: #d1d1d1 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; MARGIN: 11px 10px 0px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 14px; COLOR: #000; PADDING-TOP: 0px
}
.sideleft LI B {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; COLOR: #f60; BORDER-TOP: medium none; FONT-WEIGHT: normal; BORDER-RIGHT: medium none
}
.sideleft LI DIV A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.sideright {
	POSITION: absolute; TOP: 0px; RIGHT: 0px
}
.sideright H3 {
	LINE-HEIGHT: 28px; PADDING-LEFT: 10px; HEIGHT: 28px; COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: 700; PADDING-TOP: 5px
}
.sideright LI {
	LINE-HEIGHT: 26px; WIDTH: 60px; DISPLAY: inline; FLOAT: left; HEIGHT: 26px; MARGIN-LEFT: 14px; OVERFLOW: hidden
}
.sideright LI A {
	COLOR: #666
}
.sideright LI A:visited {
	COLOR: #666
}
.sideright LI A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.menv03 {
	TOP: 0px
}
.menv04 {
	TOP: -37px
}
.menv05 {
	TOP: -74px
}
.menv06 {
	TOP: -111px
}
/****һ���ز���www.16sucai.com****/