<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- 
		刘亚鹏的servlet
	 -->
  <servlet>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminGoodsTypeAll</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdminGoodsTypeAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminGoodsTypeAdd</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdminGoodsTypeAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsTypeView</servlet-name>
    <servlet-class>com.fox.sp.servlet.GoodsTypeView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminGoodsTypeSerch</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdminGoodsTypeSerch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminGoodsAdd</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdminGoodsAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsMenuSerch</servlet-name>
    <servlet-class>com.fox.sp.servlet.GoodsMenuSerch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsMenuSerchT</servlet-name>
    <servlet-class>com.fox.sp.servlet.GoodsMenuSerchT</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsDetail</servlet-name>
    <servlet-class>com.fox.sp.servlet.GoodsDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsSerch</servlet-name>
    <servlet-class>com.fox.sp.servlet.GoodsSerch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsSerchT</servlet-name>
    <servlet-class>com.fox.sp.servlet.GoodsSerchT</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminGoodsAll</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdminGoodsAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminGoodsSerch</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdminGoodsSerch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsNSale</servlet-name>
    <servlet-class>com.fox.sp.servlet.GoodsNSale</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsNValid</servlet-name>
    <servlet-class>com.fox.sp.servlet.GoodsNValid</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminGoodsDetail</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdminGoodsDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminGoodsUpdate</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdminGoodsUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminGoodsTop</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdminGoodsTop</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberRegedit</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberRegedit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberLogin</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberEditInfo</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberEditInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberInfoUpdate</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberInfoUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberUpdatePwd</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberUpdatePwd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberUpdateToPayPwd</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberUpdateToPayPwd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberQueryAmount</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberQueryAmount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberChongZhi</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberChongZhi</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>MemberLogout</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberLogout</servlet-class>
  </servlet>


<!-- 
	李德涛的servlet开始
 -->
 
 <servlet>
    <servlet-name>MyTrolley</servlet-name>
    <servlet-class>com.fox.sp.servlet.MyTrolley</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarGoods</servlet-name>
    <servlet-class>com.fox.sp.servlet.CarGoods</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrolleyDetail</servlet-name>
    <servlet-class>com.fox.sp.servlet.TrolleyDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrolleyDelete</servlet-name>
    <servlet-class>com.fox.sp.servlet.TrolleyDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrolleyDeAll</servlet-name>
    <servlet-class>com.fox.sp.servlet.TrolleyDeAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectGoods</servlet-name>
    <servlet-class>com.fox.sp.servlet.SelectGoods</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TroAdd</servlet-name>
    <servlet-class>com.fox.sp.servlet.TroAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayIt</servlet-name>
    <servlet-class>com.fox.sp.servlet.PayIt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PicAdd</servlet-name>
    <servlet-class>com.fox.sp.servlet.PicAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PicAdCheck</servlet-name>
    <servlet-class>com.fox.sp.servlet.PicAdCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PicAdPro</servlet-name>
    <servlet-class>com.fox.sp.servlet.PicAdPro</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PicDelete</servlet-name>
    <servlet-class>com.fox.sp.servlet.PicDelete</servlet-class>
  </servlet>

   <servlet>
    <servlet-name>oneNotice</servlet-name>
    <servlet-class>com.fox.sp.servlet.oneNotice</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllNotice</servlet-name>
    <servlet-class>com.fox.sp.servlet.AllNotice</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NoticeAdd</servlet-name>
    <servlet-class>com.fox.sp.servlet.NoticeAdd</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>NoticeCheck</servlet-name>
    <servlet-class>com.fox.sp.servlet.NoticeCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PicUp</servlet-name>
    <servlet-class>com.fox.sp.servlet.PicUp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NoticeAllPro</servlet-name>
    <servlet-class>com.fox.sp.servlet.NoticeAllPro</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>AdUpdate</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NoticeDelete</servlet-name>
    <servlet-class>com.fox.sp.servlet.NoticeDelete</servlet-class>
  </servlet>

<!-- 

	张国建的servlet开始
 -->
<servlet>
    <servlet-name>OrderQueryAllServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.OrderQueryAllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderQueryOneServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.OrderQueryOneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderInsertServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.OrderInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderUpdateServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.OrderUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.OrderDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberAddrQueryAllServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberAddrQueryAllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberAddrQueryOneServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberAddrQueryOneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberAddrDeleteServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberAddrDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberAddrInsertServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberAddrInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberAddrUpdateServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberAddrUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderInsert_1Servlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.OrderInsert_1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToPay</servlet-name>
    <servlet-class>com.fox.sp.servlet.ToPay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToOrderPay</servlet-name>
    <servlet-class>com.fox.sp.servlet.ToOrderPay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderAdminUpdateRemarkServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.OrderAdminUpdateRemarkServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>OrderAdminUpdateServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.OrderAdminUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderAdminDeleteServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.OrderAdminDeleteServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>OrderAdminQueryAllServlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.OrderAdminQueryAllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminMemberAll</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdminMemberAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberAdminDongJie</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberAdminDongJie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberAdminJieDong</servlet-name>
    <servlet-class>com.fox.sp.servlet.MemberAdminJieDong</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminGoodsTypeOne</servlet-name>
    <servlet-class>com.fox.sp.servlet.AdminGoodsTypeOne</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderToQueRen</servlet-name>
    <servlet-class>com.fox.sp.servlet.OrderToQueRen</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderUpdate_1Servlet</servlet-name>
    <servlet-class>com.fox.sp.servlet.OrderUpdate_1Servlet</servlet-class>
  </servlet>
























<!-- 
	刘亚鹏的mapping
 -->
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/admin/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminGoodsTypeAll</servlet-name>
    <url-pattern>/admin/adminGoodsTypeAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminGoodsTypeAdd</servlet-name>
    <url-pattern>/admin/adminGoodsTypeAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsTypeView</servlet-name>
    <url-pattern>/goodsTypeView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminGoodsTypeSerch</servlet-name>
    <url-pattern>/admin/goodsTypeSerch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminGoodsAdd</servlet-name>
    <url-pattern>/admin/adminGoodsAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsMenuSerch</servlet-name>
    <url-pattern>/goods/goodsMenuSerch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsMenuSerchT</servlet-name>
    <url-pattern>/goods/goodsMenuSerchT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsDetail</servlet-name>
    <url-pattern>/goods/goodsDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsSerch</servlet-name>
    <url-pattern>/goods/goodsSerch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsSerchT</servlet-name>
    <url-pattern>/goods/goodsSerchT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminGoodsAll</servlet-name>
    <url-pattern>/admin/adminGoodsAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminGoodsSerch</servlet-name>
    <url-pattern>/admin/adminGoodsSerch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsNSale</servlet-name>
    <url-pattern>/admin/goodsNSale</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsNValid</servlet-name>
    <url-pattern>/admin/goodsNValid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminGoodsDetail</servlet-name>
    <url-pattern>/admin/adminGoodsDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminGoodsUpdate</servlet-name>
    <url-pattern>/admin/adminGoodsUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminGoodsTop</servlet-name>
    <url-pattern>/admin/adminGoodsTop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberRegedit</servlet-name>
    <url-pattern>/member/memberRegedit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberLogin</servlet-name>
    <url-pattern>/member/memberLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberEditInfo</servlet-name>
    <url-pattern>/member/memberEditInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberInfoUpdate</servlet-name>
    <url-pattern>/member/memberInfoUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberUpdatePwd</servlet-name>
    <url-pattern>/member/memberUpdatePwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberUpdateToPayPwd</servlet-name>
    <url-pattern>/member/memberUpdateToPayPwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberQueryAmount</servlet-name>
    <url-pattern>/member/memberQueryAmount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberChongZhi</servlet-name>
    <url-pattern>/member/memberChongZhi</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>MemberLogout</servlet-name>
    <url-pattern>/member/memberLogout</url-pattern>
  </servlet-mapping>
  
  <!-- 
  		李德涛的mapping
   -->
   
   
   
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyTrolley</servlet-name>
    <url-pattern>/myTrolley</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarGoods</servlet-name>
    <url-pattern>/carGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrolleyDetail</servlet-name>
    <url-pattern>/trolleyDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrolleyDelete</servlet-name>
    <url-pattern>/trolleyDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrolleyDeAll</servlet-name>
    <url-pattern>/trolleyDeAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectGoods</servlet-name>
    <url-pattern>/selectGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TroAdd</servlet-name>
    <url-pattern>/troAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayIt</servlet-name>
    <url-pattern>/payIt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PicAdd</servlet-name>
    <url-pattern>/picAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PicAdCheck</servlet-name>
    <url-pattern>/picAdCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PicAdPro</servlet-name>
    <url-pattern>/picAdPro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PicDelete</servlet-name>
    <url-pattern>/picDelete</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>oneNotice</servlet-name>
    <url-pattern>/oneNotice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllNotice</servlet-name>
    <url-pattern>/allNotice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticeAdd</servlet-name>
    <url-pattern>/noticeAdd</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>NoticeCheck</servlet-name>
    <url-pattern>/noticeCheck</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  <servlet-name>PicUp</servlet-name>
    <url-pattern>/picUp</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>NoticeAllPro</servlet-name>
    <url-pattern>/noticeAllPro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdUpdate</servlet-name>
    <url-pattern>/adUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticeDelete</servlet-name>
    <url-pattern>/noticeDelete</url-pattern>
  </servlet-mapping>

  <!-- 
  		张国建的mapping开始
   -->
   
   <servlet-mapping>
    <servlet-name>OrderQueryAllServlet</servlet-name>
    <url-pattern>/orderQueryAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderQueryOneServlet</servlet-name>
    <url-pattern>/orderQueryOne</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderInsertServlet</servlet-name>
    <url-pattern>/orderInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderUpdateServlet</servlet-name>
    <url-pattern>/orderUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <url-pattern>/orderDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberAddrQueryAllServlet</servlet-name>
    <url-pattern>/memberAddrQueryAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberAddrQueryOneServlet</servlet-name>
    <url-pattern>/memberAddrQueryOne</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberAddrDeleteServlet</servlet-name>
    <url-pattern>/memberAddrDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberAddrInsertServlet</servlet-name>
    <url-pattern>/memberAddrInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberAddrUpdateServlet</servlet-name>
    <url-pattern>/memberAddrUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderInsert_1Servlet</servlet-name>
    <url-pattern>/orderInsert_1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToPay</servlet-name>
    <url-pattern>/member/toPay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToOrderPay</servlet-name>
    <url-pattern>/order/toOrderPay</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>OrderAdminQueryAllServlet</servlet-name>
    <url-pattern>/orderAdminQueryAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderAdminUpdateServlet</servlet-name>
    <url-pattern>/orderAdminUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderAdminDeleteServlet</servlet-name>
    <url-pattern>/orderAdminDelete</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>OrderAdminUpdateRemarkServlet</servlet-name>
    <url-pattern>/orderAdminUpdateRemark</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminMemberAll</servlet-name>
    <url-pattern>/admin/adminMemberAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberAdminDongJie</servlet-name>
    <url-pattern>/admin/memberAdminDongJie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberAdminJieDong</servlet-name>
    <url-pattern>/admin/memberAdminJieDong</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminGoodsTypeOne</servlet-name>
    <url-pattern>/admin/adminGoodsTypeOne</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderToQueRen</servlet-name>
    <url-pattern>/order/orderToQueRen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderUpdate_1Servlet</servlet-name>
    <url-pattern>/orderUpdate_1</url-pattern>
  </servlet-mapping>
   
   
   
   
  <filter>
  	<filter-name>charset</filter-name>
  	<filter-class>com.fox.sp.filter.EncodingFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>statusCheck</filter-name>
  	<filter-class>com.fox.sp.filter.AdminCheck</filter-class>
  </filter>
  <filter>
  	<filter-name>adCheck</filter-name>
  	<filter-class>com.fox.sp.filter.AdminJspCheck</filter-class>
  </filter>
  
  
  
  <filter-mapping>
  	<filter-name>charset</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <filter-mapping>
  	<filter-name>statusCheck</filter-name>
  	<url-pattern>/goods/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>statusCheck</filter-name>
  	<url-pattern>/member/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>statusCheck</filter-name>
  	<url-pattern>/otherpage/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>statusCheck</filter-name>
  	<url-pattern>/order/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>adCheck</filter-name>
  	<url-pattern>/admin/.jsp</url-pattern>
  </filter-mapping>
</web-app>
